body{
font-family:Poppins;
margin:0;
background:#0f2027;
color:white;
scroll-behavior:smooth;
}

/* HERO */
.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:linear-gradient(45deg,#ff512f,#dd2476,#1fa2ff);
text-align:center;
}

.hero h1{
font-size:50px;
}

.btn{
background:white;
color:black;
padding:12px 25px;
text-decoration:none;
border-radius:25px;
margin-top:20px;
}

/* SECTIONS */
section{
padding:60px;
text-align:center;
}

/* SKILLS */
.progress{
background:#333;
height:20px;
border-radius:20px;
margin-bottom:15px;
}

.progress span{
display:block;
height:100%;
background:linear-gradient(90deg,#00f260,#0575e6);
border-radius:20px;
}

/* PROJECT CARDS */
.cards{
display:flex;
justify-content:center;
flex-wrap:wrap;
}

.card{
background:linear-gradient(135deg,#667eea,#764ba2);
padding:25px;
margin:20px;
width:250px;
border-radius:15px;
transition:0.4s;
}

.card:hover{
transform:translateY(-10px);
}

/* FORM */
input,textarea{
width:60%;
padding:10px;
margin:10px;
border-radius:8px;
border:none;
}

button{
padding:10px 20px;
background:#ff512f;
color:white;
border:none;
cursor:pointer;
}

/* FOOTER */
footer{
background:black;
padding:15px;
}